body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

}
h3{
    margin: 5px;
}

.texto-rojo{
    color: red;
}


.form{
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: grey;
    padding: 20px;
}
.contenedor-botones-texto{
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.botones{
    width: 450px;
    height: 130px;
    margin:0px 250px 0px 250px;
    background-color:blueviolet ;
    display: flex;
    justify-content: space-around;
    align-items:center;
    border-radius: 10px;
}
.botones button{
    width: 100px;
    height: 50px;
}
.texto-edad{
    background-color: green;
    width: 450px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}
.texto-salario{
    background-color:greenyellow;
    width: 450px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

.contenedor-familia{
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: brown;
    justify-content: space-around;

    border-radius: 10px;
    width: 70%;
}
.caja-input{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: antiquewhite;
    border-radius: 10px;
    margin: 10px;
    height: 150px

}